@model IEnumerable<MBS.Models.Billing>

<div class="content-body">
    <div class="container-fluid">
        <div class="row page-titles mx-0">
            <div class="col-sm-6 p-md-0">
                <div class="welcome-text">
                    <h4>Welcome to MB'sS</h4>
                    <p class="mb-0">Manage Your Bills</p>
                </div>
            </div>
            <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">MB'sS</a></li>
                    <li class="breadcrumb-item active"><a href="javascript:void(0)">Dashboard</a></li>
                </ol>
            </div>
        </div>

        <div class="row">

            @* Pending *@
            <div class="col-lg-4 col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Pending</h5>

                        <div class="stat-widget-one">
                            <div class="stat-icon d-inline-block">
                                <i class="ti-money text-pink border-pink"></i>
                            </div>

                            <div class="stat-content d-inline-block">
                                <div class="stat-text">Spent</div>
                                <div class="stat-digit">
                                    Rs @(ViewBag.PendingSpent != null ? ViewBag.PendingSpent.ToString("#,##0.00") : "0.00")
                                </div>
                            </div>
                        </div>

                        <div class="stat-widget-one mt-3">
                            <div class="stat-icon d-inline-block">
                                <i class="ti-wallet text-white bg-dark border-dark"></i>
                            </div>

                            <div class="stat-content d-inline-block">
                                <div class="stat-text">Remaining</div>
                                <div class="stat-digit">
                                    Rs @(ViewBag.PendingRemaing != null ? ViewBag.PendingRemaing.ToString("#,##0.00") : "0.00")
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>


            @* Current Paid *@
            <div class="col-lg-4 col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Current Paid</h5> <!-- Main Heading -->

                        <div class="stat-widget-one">
                            <div class="stat-icon d-inline-block">
                                <i class="ti-money text-primary border-primary"></i>
                            </div>

                            <div class="stat-content d-inline-block">
                                <div class="stat-text">Spent</div>
                                <div class="stat-digit">
                                    Rs @(ViewBag.CurrentPaidSpent != null ? ViewBag.CurrentPaidSpent.ToString("#,##0.00") : "0.00")
                                </div>
                            </div>
                        </div>

                        <div class="stat-widget-one mt-3">
                            <div class="stat-icon d-inline-block">
                                <i class="ti-wallet text-primary border-primary"></i>
                            </div>

                            <div class="stat-content d-inline-block">
                                <div class="stat-text">Remaining</div>
                                <div class="stat-digit">
                                    Rs @(ViewBag.CurrentPaidRemaining != null ? ViewBag.CurrentPaidRemaining.ToString("#,##0.00") : "0.00")
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>


            @* Current Unpaid *@
            <div class="col-lg-4 col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Current Unpaid</h5> <!-- Main Heading -->

                        <div class="stat-widget-one">
                            <div class="stat-icon d-inline-block">
                                <i class="ti-money text-danger border-danger"></i>
                            </div>

                            <div class="stat-content d-inline-block">
                                <div class="stat-text">Spent</div>
                                <div class="stat-digit">
                                    Rs @(ViewBag.CurrentUnpaidSpent != null ? ViewBag.CurrentUnpaidSpent.ToString("#,##0.00") : "0.00")
                                </div>
                            </div>
                        </div>

                        <div class="stat-widget-one mt-3">
                            <div class="stat-icon d-inline-block">
                                <i class="ti-wallet text-danger border-danger"></i>
                            </div>

                            <div class="stat-content d-inline-block">
                                <div class="stat-text">Remaining</div>
                                <div class="stat-digit">
                                    Rs @(ViewBag.CurrentUnpaidRemaining != null ? ViewBag.CurrentUnpaidRemaining.ToString("#,##0.00") : "0.00")
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            
            @* In Progress *@
            <div class="col-lg-4 col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">In Progress</h5>

                        <div class="stat-widget-one">
                            <div class="stat-icon d-inline-block">
                                <i class="ti-money text-info border-info"></i>
                            </div>

                            <div class="stat-content d-inline-block">
                                <div class="stat-text">Spent</div>
                                <div class="stat-digit">
                                    Rs @(ViewBag.InProgressSpent != null ? ViewBag.InProgressSpent.ToString("#,##0.00") : "0.00")
                                </div>
                            </div>
                        </div>

                        <div class="stat-widget-one mt-3">
                            <div class="stat-icon d-inline-block">
                                <i class="ti-wallet text-white bg-info border-info"></i>
                            </div>

                            <div class="stat-content d-inline-block">
                                <div class="stat-text">Remaining</div>
                                <div class="stat-digit">
                                    Rs @(ViewBag.InProgressRemaining != null ? ViewBag.InProgressRemaining.ToString("#,##0.00") : "0.00")
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            @* Paid *@
            <div class="col-lg-4 col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Paid</h5>

                        <div class="stat-widget-one">
                            <div class="stat-icon d-inline-block">
                                <i class="ti-money text-primary border-primary"></i>
                            </div>

                            <div class="stat-content d-inline-block">
                                <div class="stat-text">Spent</div>
                                <div class="stat-digit">
                                    Rs @(ViewBag.PaidSpent != null ? ViewBag.PaidSpent.ToString("#,##0.00") : "0.00")
                                </div>
                            </div>
                        </div>

                        <div class="stat-widget-one mt-3">
                            <div class="stat-icon d-inline-block">
                                <i class="ti-wallet text-white bg-primary  border-primary"></i>
                            </div>

                            <div class="stat-content d-inline-block">
                                <div class="stat-text">Remaining</div>
                                <div class="stat-digit">
                                    Rs @(ViewBag.PaidRemaining != null ? ViewBag.PaidRemaining.ToString("#,##0.00") : "0.00")
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            @* UnPaid *@
            <div class="col-lg-4 col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Unpaid</h5>

                        <div class="stat-widget-one">
                            <div class="stat-icon d-inline-block">
                                <i class="ti-money  text-danger border-danger"></i>
                            </div>

                            <div class="stat-content d-inline-block">
                                <div class="stat-text">Spent</div>
                                <div class="stat-digit">
                                    Rs @(ViewBag.UnpaidSpent != null ? ViewBag.UnpaidSpent.ToString("#,##0.00") : "0.00")
                                </div>
                            </div>
                        </div>

                        <div class="stat-widget-one mt-3">
                            <div class="stat-icon d-inline-block">
                                <i class="ti-wallet text-white bg-danger border-danger"></i>
                            </div>

                            <div class="stat-content d-inline-block">
                                <div class="stat-text">Remaining</div>
                                <div class="stat-digit">
                                    Rs @(ViewBag.UnpaidRemaining != null ? ViewBag.UnpaidRemaining.ToString("#,##0.00") : "0.00")
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>


            
        </div>
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-sm-6 col-xxl-6 col-md-6">
                <div class="card">
                    <div class="social-graph-wrapper bg-primary">
                        <span class="s-icon">Current Received</span>
                    </div>
                    <div class="row">
                        <div class="col-6 border-right">
                            <div class="pt-3 pb-3 pl-0 pr-0 text-center">
                                <h4 class="m-1">
                                    <span class="counter">
                                        Rs @(ViewBag.CurrentReceivedAmountToPay != null ? ViewBag.CurrentReceivedAmountToPay.ToString("#,##0.00") : "0.00")
                                    </span>
                                </h4>
                                <p class="m-0">Received this Month</p>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="pt-3 pb-3 pl-0 pr-0 text-center">
                                <h4 class="m-1">
                                    <span class="counter">
                                        Rs @(ViewBag.CurrentReceivedRemaining != null ? ViewBag.CurrentReceivedRemaining.ToString("#,##0.00") : "0.00")
                                    </span>
                                </h4>
                                <p class="m-0">Amount to Pay</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-sm-6 col-xxl-6 col-md-6">
                <div class="card">
                    <div class="social-graph-wrapper bg-primary">
                        <span class="s-icon">Recieved</span>
                    </div>
                    <div class="row">
                        <div class="col-6 border-right">
                            <div class="pt-3 pb-3 pl-0 pr-0 text-center">
                                <h4 class="m-1">
                                    <span class="counter">
                                        Rs @(ViewBag.ReceivedAmountToPay != null ? ViewBag.CurrentReceivedAmountToPay.ToString("#,##0.00") : "0.00")
                                    </span>
                                </h4>
                                <p class="m-0">Total Received</p>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="pt-3 pb-3 pl-0 pr-0 text-center">
                                <h4 class="m-1">
                                    <span class="counter">
                                        Rs @(ViewBag.ReceivedRemaining != null ? ViewBag.ReceivedRemaining.ToString("#,##0.00") : "0.00")
                                    </span>
                                </h4>
                                <p class="m-0">Amount to Pay</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Last Week Stats</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table student-data-table m-t-20">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Amount</th>
                                        <th>Remaining</th>
                                        <th>FromDate</th>
                                        <th>ToDate</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@item.SpentName</td>
                                            <td>@item.SpentAmount</td>
                                            <td>@item.RemaingAmount</td>
                                            <td>@item.FromDate</td>
                                            <td>@item.ToDate</td>
                                            <td>@item.Status</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xl-4 col-xxl-6 col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Timeline</h4>
                    </div>
                    <div class="card-body">
                        <div class="widget-timeline">
                            <ul class="timeline">
                                <li>
                                    <div class="timeline-badge primary"></div>
                                    <a class="timeline-panel text-muted" href="#">
                                        <span>10 minutes ago</span>
                                        <h6 class="m-t-5">Youtube, a video-sharing website, goes live.</h6>
                                    </a>
                                </li>

                                <li>
                                    <div class="timeline-badge warning">
                                    </div>
                                    <a class="timeline-panel text-muted" href="#">
                                        <span>20 minutes ago</span>
                                        <h6 class="m-t-5">Mashable, a news website and blog, goes live.</h6>
                                    </a>
                                </li>

                                <li>
                                    <div class="timeline-badge danger">
                                    </div>
                                    <a class="timeline-panel text-muted" href="#">
                                        <span>30 minutes ago</span>
                                        <h6 class="m-t-5">Google acquires Youtube.</h6>
                                    </a>
                                </li>

                                <li>
                                    <div class="timeline-badge success">
                                    </div>
                                    <a class="timeline-panel text-muted" href="#">
                                        <span>15 minutes ago</span>
                                        <h6 class="m-t-5">StumbleUpon is acquired by eBay. </h6>
                                    </a>
                                </li>

                                <li>
                                    <div class="timeline-badge warning">
                                    </div>
                                    <a class="timeline-panel text-muted" href="#">
                                        <span>20 minutes ago</span>
                                        <h6 class="m-t-5">Mashable, a news website and blog, goes live.</h6>
                                    </a>
                                </li>

                                <li>
                                    <div class="timeline-badge dark">
                                    </div>
                                    <a class="timeline-panel text-muted" href="#">
                                        <span>20 minutes ago</span>
                                        <h6 class="m-t-5">Mashable, a news website and blog, goes live.</h6>
                                    </a>
                                </li>

                                <li>
                                    <div class="timeline-badge info">
                                    </div>
                                    <a class="timeline-panel text-muted" href="#">
                                        <span>30 minutes ago</span>
                                        <h6 class="m-t-5">Google acquires Youtube.</h6>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-xxl-6 col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Notice Board</h4>
                    </div>
                    <div class="card-body">
                        <div class="recent-comment m-t-15">
                            <div class="media">
                                <div class="media-left">
                                    <a href="#"><img class="media-object mr-3" src="./images/avatar/4.png" alt="..."></a>
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading text-primary">john doe</h4>
                                    <p>Cras sit amet nibh libero, in gravida nulla.</p>
                                    <p class="comment-date">10 min ago</p>
                                </div>
                            </div>
                            <div class="media">
                                <div class="media-left">
                                    <a href="#"><img class="media-object mr-3" src="./images/avatar/2.png" alt="..."></a>
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading text-success">Mr. John</h4>
                                    <p>Cras sit amet nibh libero, in gravida nulla.</p>
                                    <p class="comment-date">1 hour ago</p>
                                </div>
                            </div>
                            <div class="media">
                                <div class="media-left">
                                    <a href="#"><img class="media-object mr-3" src="./images/avatar/3.png" alt="..."></a>
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading text-danger">Mr. John</h4>
                                    <p>Cras sit amet nibh libero, in gravida nulla.</p>
                                    <div class="comment-date">Yesterday</div>
                                </div>
                            </div>
                            <div class="media">
                                <div class="media-left">
                                    <a href="#"><img class="media-object mr-3" src="./images/avatar/4.png" alt="..."></a>
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading text-primary">john doe</h4>
                                    <p>Cras sit amet nibh libero, in gravida nulla.</p>
                                    <p class="comment-date">10 min ago</p>
                                </div>
                            </div>
                            <div class="media">
                                <div class="media-left">
                                    <a href="#"><img class="media-object mr-3" src="./images/avatar/2.png" alt="..."></a>
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading text-success">Mr. John</h4>
                                    <p>Cras sit amet nibh libero, in gravida nulla.</p>
                                    <p class="comment-date">1 hour ago</p>
                                </div>
                            </div>
                            <div class="media no-border">
                                <div class="media-left">
                                    <a href="#"><img class="media-object mr-3" src="./images/avatar/3.png" alt="..."></a>
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading text-info">Mr. John</h4>
                                    <p>Cras sit amet nibh libero, in gravida nulla.</p>
                                    <div class="comment-date">Yesterday</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-xxl-6 col-lg-6 col-md-12 col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Todo</h4>
                    </div>
                    <div class="card-body px-0">
                        <div class="todo-list">
                            <div class="tdl-holder">
                                <div class="tdl-content widget-todo2 mr-4">
                                    <ul id="todo_list">
                                        <li>
                                            <label>
                                                <input type="checkbox"><i></i><span>Get up</span><a href='#'
                                                                                                    class="ti-trash"></a>
                                            </label>
                                        </li>
                                        <li>
                                            <label>
                                                <input type="checkbox" checked><i></i><span>Stand up</span><a href='#' class="ti-trash"></a>
                                            </label>
                                        </li>
                                        <li>
                                            <label>
                                                <input type="checkbox"><i></i><span>
                                                    Don't give up the
                                                    fight.
                                                </span><a href='#' class="ti-trash"></a>
                                            </label>
                                        </li>
                                        <li>
                                            <label>
                                                <input type="checkbox" checked><i></i><span>
                                                    Do something
                                                    else
                                                </span><a href='#' class="ti-trash"></a>
                                            </label>
                                        </li>
                                        <li>
                                            <label>
                                                <input type="checkbox" checked><i></i><span>Stand up</span><a href='#' class="ti-trash"></a>
                                            </label>
                                        </li>
                                        <li>
                                            <label>
                                                <input type="checkbox"><i></i><span>
                                                    Don't give up the
                                                    fight.
                                                </span><a href='#' class="ti-trash"></a>
                                            </label>
                                        </li>
                                    </ul>
                                </div>
                                <div class="px-4">
                                    <input type="text" class="tdl-new form-control" placeholder="Write new item and hit 'Enter'...">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <div class="year-calendar"></div>
                    </div>
                </div>
                <!-- /# card -->
            </div>
            <div class="col-lg-8">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">All Expense</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table student-data-table m-t-20">
                                <thead>
                                    <tr>
                                        <th>Expense Type</th>
                                        <th>Amount</th>
                                        <th>Status</th>
                                        <th>Email</th>
                                        <th>Date</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>

                                        <td>
                                            Salary
                                        </td>
                                        <td>
                                            $2000
                                        </td>
                                        <td>
                                            <span class="badge badge-primary">Paid</span>
                                        </td>
                                        <td>
                                            edumin@gmail.com
                                        </td>
                                        <td>
                                            10/05/2017
                                        </td>
                                    </tr>
                                    <tr>

                                        <td>
                                            Salary
                                        </td>
                                        <td>
                                            $2000
                                        </td>
                                        <td>
                                            <span class="badge badge-warning">Pending</span>
                                        </td>
                                        <td>
                                            edumin@gmail.com
                                        </td>
                                        <td>
                                            10/05/2017
                                        </td>
                                    </tr>
                                    <tr>

                                        <td>
                                            Salary
                                        </td>
                                        <td>
                                            $2000
                                        </td>
                                        <td>
                                            <span class="badge badge-primary">Paid</span>
                                        </td>
                                        <td>
                                            edumin@gmail.com
                                        </td>
                                        <td>
                                            10/05/2017
                                        </td>
                                    </tr>
                                    <tr>

                                        <td>
                                            Salary
                                        </td>
                                        <td>
                                            $2000
                                        </td>
                                        <td>
                                            <span class="badge badge-danger">Due</span>
                                        </td>
                                        <td>
                                            edumin@gmail.com
                                        </td>
                                        <td>
                                            10/05/2017
                                        </td>
                                    </tr>
                                    <tr>

                                        <td>
                                            Salary
                                        </td>
                                        <td>
                                            $2000
                                        </td>
                                        <td>
                                            <span class="badge badge-primary">Paid</span>
                                        </td>
                                        <td>
                                            edumin@gmail.com
                                        </td>
                                        <td>
                                            10/05/2017
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

